
include mixins.pug

append  scripts
  script(src='/jquery.js')
  script(src='/pets.js')
+table([{
  title: 'Hello World',
  content: 'Content'
},
{
  title: 'Hello World',
  content: 'Content'
},
{
  title: 'Hello World',
  content: 'Content'
}])
